* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: rgb(0, 137, 201);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 20px 35px;
    background: white;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    color: rgb(255, 123, 0);
    display: inline;
}

header a {
    color: rgb(255, 123, 0);
    text-decoration: none;
}

header ul {
    list-style: none;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

footer {
    background: rgb(255, 123, 0);
    width: 100%;
    padding: 40px 35px;
}

footer small,
p {
    display: inline;
    color: rgb(0, 137, 201);
    margin: 0;
}

footer p {
    font-size: 30px;
}

footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: rgb(0, 137, 201);
}

section {
    padding: 60px;

}

.hero {
    background-image: url("../img/foodie.jpeg");
    opacity: 90%;
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-form {
    background-color: rgb(255, 123, 0);
    padding: 20px;
    width: 510px;
    color: rgb(0, 137, 201);
    border: solid 3px rgb(0, 137, 201);
    position: absolute;
    bottom: 20px;
    right: 70px;
    opacity: 90%;
}

.hero-form p {
    margin: 5px 0 10px 0;

}

.hero-form h3 {
    font-size: 24px;
    margin: 0px;
    text-align: center;
}

.form-input {
    border: 1px solid rgb(0, 137, 201);
    display: block;
    padding: 10px 17px;
    font-size: 16px;
    color: rgb(255, 123, 0);
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.hero-form label {
    margin: 0 5px;
}

.hero-form button {
    color: rgb(255, 123, 0);
    background-color: rgb(0, 137, 201);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 5px;
}